.upperbar {
  background-color: #1e1f29;
  padding: 10px 0;
}
.upperbar .upperbar-content ul {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
.upperbar .upperbar-content ul li {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.upperbar .upperbar-content ul li:last-child {
  margin-right: 0;
}
.upperbar .upperbar-content ul li a {
  text-decoration: none;
}
.upperbar .upperbar-content ul li a i {
  margin-right: 0;
}
.upperbar .upperbar-content ul li a span {
  text-transform: capitalize;
}
.upperbar .upperbar-content ul li i {
  color: rgb(40, 167, 69);
  margin-right: 7px;
}
.upperbar .upperbar-content ul li span {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.upperbar .upperbar-content ul li span:hover {
  color: rgb(40, 167, 69);
}