#header {
  border-bottom: 3px solid rgb(40, 167, 69);
  padding: 15px 0;
  background-color: #15161d;
}
#header .brand {
  color: white;
}
#header .brand h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
#header .brand h2 span {
  color: rgb(40, 167, 69);
}
#header .form-header {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
}
#header .form-header select {
  border-radius: 25px 0 0 25px;
  display: block;
  width: 160px;
  text-align: center;
  outline: 0;
  border: 2px solid #e4e7ed;
  font-size: 14px;
  color: #aaa;
}
#header .form-header input[type=email] {
  display: block;
  width: calc(100% - 150px);
  height: 40px;
  padding: 10px 20px;
  outline: 0;
  border: 2px solid #e4e7ed;
}
#header .form-header input[type=submit] {
  width: 150px;
  height: 40px;
  outline: 0;
  border: 0;
  background-color: rgb(40, 167, 69);
  color: white;
  text-transform: uppercase;
  border-radius: 0 25px 25px 0;
  font-size: 14px;
  font-weight: 600;
}
#header .icones ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
#header .icones ul li {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 8px;
  position: relative;
}
#header .icones ul li:first-child {
  margin-left: 0;
}
#header .icones ul li i {
  color: white;
}
#header .icones ul li > span {
  position: absolute;
  top: -8px;
  right: -8px;
  display: block;
  color: white;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  background-color: rgb(40, 167, 69);
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}
#header .icones ul li .dropdown-cart-items {
  border: 1px solid rgb(40, 167, 69);
  background-color: white;
  position: absolute;
  left: -240px;
  top: 35px;
  z-index: 100;
  width: 300px;
  padding: 20px 20px 60px;
  display: none;
}
#header .icones ul li .dropdown-cart-items.toggle {
  display: block;
}
#header .icones ul li .dropdown-cart-items.favorite {
  padding: 20px;
}
#header .icones ul li .dropdown-cart-items .dropdown-cart-item {
  position: relative;
  margin-bottom: 15px;
}
#header .icones ul li .dropdown-cart-items .dropdown-cart-item .drop-close {
  position: absolute;
  right: 2%;
  top: 10%;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #2b2b2b;
  cursor: pointer;
}
#header .icones ul li .dropdown-cart-items .dropdown-cart-item:last-child {
  margin-bottom: 0;
}
#header .icones ul li .dropdown-cart-items .dropdown-cart-item > div {
  display: flex;
  align-items: center;
}
#header .icones ul li .dropdown-cart-items .dropdown-cart-item > div img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 10px;
  border: 1px solid #e4e7ed;
}
#header .icones ul li .dropdown-cart-items .dropdown-cart-item > div > div {
  text-align: left;
}
#header .icones ul li .dropdown-cart-items .dropdown-cart-item > div > div h6 {
  color: #2b2d42;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}
#header .icones ul li .dropdown-cart-items .dropdown-cart-item > div > div h6:hover {
  color: rgb(40, 167, 69);
}
#header .icones ul li .dropdown-cart-items .dropdown-cart-item > div > div .drop-qty {
  font-size: 0.9rem;
  margin-right: 10px;
}
#header .icones ul li .dropdown-cart-items .dropdown-cart-item > div > div .price-new {
  color: #2b2b2b;
  font-size: 0.8rem;
  font-weight: bold;
}
#header .icones ul li .dropdown-cart-items .drop-view-checkout {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
}
#header .icones ul li .dropdown-cart-items .drop-view,
#header .icones ul li .dropdown-cart-items .drop-checkout {
  cursor: pointer;
  display: block;
  width: 50%;
  border: 0;
  outline: 0;
  padding: 13px;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  transition: opacity 0.3s ease-in-out;
}
#header .icones ul li .dropdown-cart-items .drop-view:hover,
#header .icones ul li .dropdown-cart-items .drop-checkout:hover {
  opacity: 0.9;
}
#header .icones ul li .dropdown-cart-items .drop-view {
  background-color: #1e1f29;
}
#header .icones ul li .dropdown-cart-items .drop-checkout {
  background-color: rgb(40, 167, 69);
}

#links {
  padding: 10px 0;
}
#links ul li {
  margin-right: 30px;
}
#links ul li a {
  color: #2b2d42;
  font-weight: 600;
}
#links ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: rgb(40, 167, 69);
  transition: width 0.5s ease-in-out;
}
#links ul li a.active {
  color: rgb(40, 167, 69);
}
#links ul li a.active::after {
  width: 100%;
}
#links ul li a:hover {
  color: rgb(40, 167, 69);
}
#links ul li a:hover::after {
  width: 100%;
}